
/* ===========================================
content file
==============================================

1.Left Section Main Design
2.Right Section Main Design
3.Responsive (media query) */

main.flex {
    gap: 2.5rem;
    align-items: start;
}

/* ===========================================
1.Left Section Main Desigh
==============================================*/
main section.left-section.flex {
   flex-direction: column;
   gap: 10px;
}
main section.left-section.flex button {
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    border-radius: 5px;
    opacity: .5;
    transition: .4s;
 }
 main section.left-section.flex button:hover { 
    opacity: 1;
    
 }
 main section.left-section.flex button.active { 
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--blue);
 }





/* ===========================================
2.Right Section Main Desigh
==============================================*/
main section.right-section.flex {
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 16px; */
    column-gap: 16px;
    row-gap: 2rem;
}
main .right-section .card {
    border: 1px solid rgba(93, 188, 252, .3);
    border-radius: 5px;
    transition: .4s;
    background-image: linear-gradient(
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.05));
}
main .right-section .card:hover {
    border: 1px solid var(--blue);
    cursor: pointer;
    rotate: 1deg;
    scale: 1.01;
   
}
main .right-section .card img {
    border-radius: 5px;
}
main .right-section .card .box {
    padding: 1rem 0.4rem;
}
main .right-section .card .box .title {
    color: var(--title);
    text-transform: capitalize;
}
main .right-section .card .box .sub-title {
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}
main .right-section .card .box .icons {
    justify-content: space-between;
}
main .right-section .card .box .icons .links {
    gap: 11px;
}
main .card .icons .icon-link,
main .card .icons .icon-github-square {
    font-size: 1.3rem;
    color: var(--subtitle);
}
main .card .icons .icon-link:hover,
main .card .icons .icon-github-square:hover {
    font-size: 1.4rem;
    transition: .3s;
    cursor: pointer;
    color: var(--blue);
}
main .card .icons .more {
    font-size: .9rem;
    color: var(--subtitle);
}
main .card .icons .more:hover {
    font-size: 1rem;
    transition: .3s;
    cursor: pointer;
    color: var(--blue);
}
main .card .icons .more span {
    align-self: self-end;
}




/* ===========================================
3.Responsive (media query)
==============================================*/
@media (max-width: 600px) {
    main.flex {
        flex-direction: column;
        gap: 2.64rem;
        align-items: center;
    }
    main section.left-section.flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    main section.left-section.flex button {
        width: 7rem;
        padding: 0.8rem 0;
        font-size: .9rem;
    }
  }
