/* ===========================================
content file
==============================================

1.Left Section Main Design
2.Right Section Main Design
3.Responsive (media query) */






/* ===========================================
1.Left Section Main Desigh
==============================================*/
section.skill .head .title {
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 1rem;
}