/* ===========================================
content file
==============================================

1.Header Desigh
2.Icons
3.Modal == pop up
4 Responsive Design (media query)
*/

/* ===========================================
1.Header Desigh
==============================================*/
header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1rem;
}
header.flex nav {
    background-color: var(--bgheader);
    padding: .77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px var(--shadow-nav);
}
header ul.flex {
    gap: 16px;
}
header ul li a {
    color: var(--title);
    opacity: .9;
    font-size: 0.88rem;
    font-weight: 500;
}
header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}
header button {
   font-size: 1.2rem;
}
header button.menu {
    display: none;
}

/* ===========================================
2.Icons
==============================================*/
header .icon-menu,
header .mode {
    border: 1px solid rgba(244, 165, 96, 0.249);
    background-color: var(--bgheader);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    color: var(--subtitle);
    transition: .35s;
    box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
}
header .icon-sun {
    color: rgb(255, 165, 0);
}
header .icon-menu:hover,
header .mode:hover {
    border: 1px solid rgb(244, 165, 96);
    color: var(--title);
}

header .icon-close {
    font-size: 1.25rem;
    color: var(--subtitle);
    transition: .3s;
}
header .icon-close:hover {
    font-size: 1.5rem;
    color: crimson;
    rotate: 180deg;
}



/* ===========================================
3.Modal == pop up
==============================================*/

header .fixed {
    position: fixed;
    /* top, right ,left,bottom */
    inset: 0;
    z-index: 9999;
    background-color: rgba(40,40,48,.9);

    /* filter for text */
    /* filter: blur(8px); */

    /* filter for background */
    backdrop-filter: blur(4px);
}
@keyframes modalMenu {
    0% {scale: 0;}
    60% {scale: 1.2;}
    100% {scale: 1;}
}
header .fixed ul.modal {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
    animation: modalMenu .7s 1;
}
header .fixed ul.modal li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: .5rem;
}
header .fixed ul.modal li:first-child {
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: .2rem;
}
header .fixed ul.modal li:last-child {
    border: none;
}
header .fixed ul.modal li a {
    font-size: 1rem;
}

/* ===========================================
1.Responsive (media query)
==============================================*/

@media (max-width: 700px) {
    header.flex nav {
        display: none;
    }
    header button.menu {
        display: block;
    }
}